<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSCP</title>
    <link rel="shortcut icon" href="/img/logoMaior.png" type="image/x-icon">
</head>
<body>
    <header id="navbar">
        <a href="/" id="logo">
            <img src="/img/logoMaior.png" alt="PetsCP">
        </a>

        <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/tecnologias">Tecnologias</a></li>
            <li><a href="/desenvolvedor">Desenvolvedor</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/registrar">Registrar</a></li>
        </ul>
    </header>

    <div class ="container">
        {{{ body }}}
    </div>

    <footer>
        <p><span>PetsCP</span> &copy; 2023</p>
    </footer>


</body>
</html>