<div class="form-public">
    <h2>Desenvolvedor:</h2>
    <h4>Me chamo Luan Riechi e sou estudante do curso de engenharia de software da UTFPR, estou no 7º periodo do curso.
        Pretendo trabalhar com desenvolvimento de jogos, mais especificamente como GameDev. 
        Portanto com esse trabalho minha meta é atingir pelo 
        menos a média 6 na disciplina de web 2, para prosseguir tranquilamente nos meus estudos sobre desenvolvimento de jogos.
    </h4>
</div>