<div class="form-public">
    <h2>Sobre o sistema:</h2>
    <h4>Uma aplicação web que permite aos usuários adotar ou colocar um pet para adoção.
        A aplicação vai fazer o cadastro(e as demais operações de crud) de usuarios, pets e endereços para esses pets.
        Com isso o usuario interessado por algum pet vai conseguir saber seu respectivo endereço.
    </h4>
</div>