<div class="form-public">
    <h2>Tecnologias utilizadas:</h2>
    <h4>A aplicação foi desenvolvida utilizando Node.js juntamente com o framework Express.js,
        como template engine foi utilizado o Handlebars e a parte de armazenamento de dados é feita com MongoDB
    </h4>
</div>